/* You can add global styles to this file, and also import other style files */

:root {
    --clr-primary: #1a3658;
    --clr-secondary: #041c3a;
    --clr-text: white;
    --clr-textSecondary: rgb(236 216 172);
}

body {
    background-color: var(--clr-primary);
}

h1, h2, h3 {
    color: var(--clr-text);
}

p {
    color: var(--clr-textSecondary);
}

.text-color {
    color: var(--clr-text);
}

.text-color-y {
    color: var(--clr-textSecondary);
}

.navbar, footer {
    background-color: var(--clr-secondary);
}

.container-explanation {
    height: 75vh;
    /* background-image: linear-gradient(159deg,#c32b60 0%,#5a89b8 80%); */
    /* background-image: url(https://images.unsplash.com/photo-1630260643564-7f9c9c140682?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    background-image: url(https://images.unsplash.com/photo-1674739697985-19a8d37fb9ec?q=80&w=2882&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.explanation {
    width: 300px;
    justify-content: center;
}

.input-w {
    width: 400px;
}

.container-bg {
    background-color: var(--clr-secondary);
}

i {
    height: 100px;
}

.container-err {
    height: 90vh;
}

/* md */
@media (min-width: 768px) { 
    .custom-border {
        border-left: 10px white;
    }
}

